<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpaceHub | Conectando lugares e pessoas</title>
    <!-- PREENCHER COM A DESCRIÇÃO DO SITE -->
    <meta name="description" content="">
    <meta name="author" content="Júlio Simões">
    <meta name="copyright" content="© 2026 Júlio Simões">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="../style.css?v0.0.5">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.css" />

    <!-- PREENCHER COM OS LINKS DO FAVICON -->
    <link rel="icon" type="image/x-icon" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="manifest" href="">

    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#007deb">
    <meta property="og:title" content="SpaceHub | Conectando lugares e pessoas">
    <!-- PREENCHER COM A DESCRIÇÃO DO SITE -->
    <meta property="og:description" content="">
    <!-- PREENCHER OPEN GRAPH -->
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="SpaceHub | Conectando lugares e pessoas">
    <!-- PREENCHER COM IMAGEM DO OPEN GRAPH -->
    <meta name="twitter:image" content="">
    <!-- PREENCHER COM A DESCRIÇÃO DO SITE -->
    <meta name="twitter:description" content="">
    <!-- PREENCHER COM O LINK CANÔNICO -->
    <link rel="canonical" href="">
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.umd.js" defer></script>
    <script src="../script.js?v0.0.2" defer></script>
</head>