<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpaceHub | Conectando lugares e pessoas</title>
    <!-- PREENCHER COM A DESCRIÇÃO DO SITE -->
    <meta name="description" content="">
    <meta name="author" content="Júlio Simões">
    <meta name="copyright" content="© 2026 Júlio Simões">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- PREENCHER COM O LINK DA FONTE -->
    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="../style.css?v0.0.14">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.css" />

    <!-- PREENCHER COM OS LINKS DO FAVICON -->
    <link rel="icon" type="image/x-icon" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="manifest" href="">

    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#007deb">
    <meta property="og:title" content="SpaceHub | Conectando lugares e pessoas">
    <!-- PREENCHER COM A DESCRIÇÃO DO SITE -->
    <meta property="og:description" content="">
    <!-- PREENCHER OPEN GRAPH -->
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="SpaceHub | Conectando lugares e pessoas">
    <!-- PREENCHER COM IMAGEM DO OPEN GRAPH -->
    <meta name="twitter:image" content="">
    <!-- PREENCHER COM A DESCRIÇÃO DO SITE -->
    <meta name="twitter:description" content="">
    <!-- PREENCHER COM O LINK CANÔNICO -->
    <link rel="canonical" href="">
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.umd.js" defer></script>
    <script src="../script.js?v0.0.2" defer></script>
</head>

<body>

    <header class="main-header">
        <div class="header-wrapper">
            <!-- Adicionar link para home -->
            <a href="" class="logo-link">
                <img src="../assets/images/logo.webp" alt="SpaceHub" class="header-logo">
            </a>

            <nav class="menu-nav">
                <ul>
                    <li>
                        <!-- Adicionar link -->
                        <a class="nav-link is-active" href="">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M128,64a40,40,0,1,0,40,40A40,40,0,0,0,128,64Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,128Zm0-112a88.1,88.1,0,0,0-88,88c0,31.4,14.51,64.68,42,96.25a254.19,254.19,0,0,0,41.45,38.3,8,8,0,0,0,9.18,0A254.19,254.19,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25A88.1,88.1,0,0,0,128,16Zm0,206c-16.53-13-72-60.75-72-118a72,72,0,0,1,144,0C200,161.23,144.53,209,128,222Z">
                                </path>
                            </svg>
                            <!-- Texto dinâmico -->
                            <span>Explorar</span>
                        </a>
                    </li>
                    <li>
                        <!-- Adicionar link -->
                        <a class="nav-link" href="">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M230.91,172A8,8,0,0,1,228,182.91l-96,56a8,8,0,0,1-8.06,0l-96-56A8,8,0,0,1,36,169.09l92,53.65,92-53.65A8,8,0,0,1,230.91,172ZM220,121.09l-92,53.65L36,121.09A8,8,0,0,0,28,134.91l96,56a8,8,0,0,0,8.06,0l96-56A8,8,0,1,0,220,121.09ZM24,80a8,8,0,0,1,4-6.91l96-56a8,8,0,0,1,8.06,0l96,56a8,8,0,0,1,0,13.82l-96,56a8,8,0,0,1-8.06,0l-96-56A8,8,0,0,1,24,80Zm23.88,0L128,126.74,208.12,80,128,33.26Z">
                                </path>
                            </svg>
                            <!-- Texto dinâmico -->
                            <span>Minhas reservas</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="user-menu-container">
                <button id="btn-user-menu" class="user-menu-btn" aria-expanded="false" aria-haspopup="true"
                    aria-controls="user-dropdown">
                    <div class="user-avatar">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                            viewBox="0 0 256 256">
                            <path
                                d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z">
                            </path>
                        </svg>
                    </div>

                    <div class="user-info">
                        <!-- Texto dinâmico -->
                        <span class="user-name">Olá, usuário</span>
                        <!-- Texto dinâmico -->
                        <span class="user-role">Hóspede</span>
                    </div>

                </button>

                <div id="user-dropdown" class="user-dropdown-menu hidden" role="menu" aria-labelledby="btn-user-menu">
                    <ul role="none">
                        <li role="none">
                            <!-- Adicionar link de logout -->
                            <a href="#" class="dropdown-link logout-link" role="menuitem">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                    fill="#000000" viewBox="0 0 256 256">
                                    <path
                                        d="M120,216a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V40a8,8,0,0,1,8-8h64a8,8,0,0,1,0,16H56V208h56A8,8,0,0,1,120,216Zm109.66-93.66-40-40a8,8,0,0,0-11.32,11.32L204.69,120H112a8,8,0,0,0,0,16h92.69l-26.35,26.34a8,8,0,0,0,11.32,11.32l40-40A8,8,0,0,0,229.66,122.34Z">
                                    </path>
                                </svg>
                                <span>Sair da conta</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <button class="btn-menu-toggle" id="btn-open-menu" aria-label="Abrir menu de navegação"
                aria-expanded="false" aria-controls="modal-menu">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                    viewBox="0 0 256 256">
                    <path
                        d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z">
                    </path>
                </svg>
            </button>
        </div>
    </header>

    <main class="space-details-container">

        <section class="space-details-header-section">

            <!-- Adicionar link para voltar -->
            <a href="" class="btn-back">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                    viewBox="0 0 256 256">
                    <path
                        d="M232,144a64.07,64.07,0,0,1-64,64H80a8,8,0,0,1,0-16h88a48,48,0,0,0,0-96H51.31l34.35,34.34a8,8,0,0,1-11.32,11.32l-48-48a8,8,0,0,1,0-11.32l48-48A8,8,0,0,1,85.66,45.66L51.31,80H168A64.07,64.07,0,0,1,232,144Z">
                    </path>
                </svg>
                <span>Voltar para tela principal</span>
            </a>

            <!-- Texto dinâmico -->
            <h1 class="page-title">Título do anúncio</h1>

            <div class="space-location-badge">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                    viewBox="0 0 256 256">
                    <path
                        d="M112,80a16,16,0,1,1,16,16A16,16,0,0,1,112,80ZM64,80a64,64,0,0,1,128,0c0,59.95-57.58,93.54-60,94.95a8,8,0,0,1-7.94,0C121.58,173.54,64,140,64,80Zm16,0c0,42.2,35.84,70.21,48,78.5,12.15-8.28,48-36.3,48-78.5a48,48,0,0,0-96,0Zm122.77,67.63a8,8,0,0,0-5.54,15C213.74,168.74,224,176.92,224,184c0,13.36-36.52,32-96,32s-96-18.64-96-32c0-7.08,10.26-15.26,26.77-21.36a8,8,0,0,0-5.54-15C29.22,156.49,16,169.41,16,184c0,31.18,57.71,48,112,48s112-16.82,112-48C240,169.41,226.78,156.49,202.77,147.63Z">
                    </path>
                </svg>
                <!-- Texto dinâmico -->
                <span>Rua biribiri, 123 - Frufru</span>
            </div>
        </section>

        <!-- Todas as imagens com "a href", "a data-caption", "img src" e "img alt" dinâmicos (a data-caption = img alt) -->
        <section class="space-gallery-section" aria-label="Galeria de fotos do anúncio">
            <div class="gallery-grid">
                <!-- Foto 1 (Destaque Principal) -->
                <a href="../assets/images/foto1.png" class="gallery-item gallery-item-main"
                    data-fancybox="space-gallery" data-caption="Foto principal do espaço">
                    <img src="../assets/images/foto1.png" alt="Foto principal do espaço">
                </a>

                <!-- Foto 2 -->
                <a href="../assets/images/foto2.png" class="gallery-item" data-fancybox="space-gallery"
                    data-caption="Vista da sala ampla">
                    <img src="../assets/images/foto2.png" alt="Vista da sala ampla">
                </a>

                <!-- Foto 3 -->
                <a href="../assets/images/foto3.png" class="gallery-item" data-fancybox="space-gallery"
                    data-caption="Área externa com piscina">
                    <img src="../assets/images/foto3.png" alt="Área externa com piscina">
                </a>

                <!-- Foto 4 (Com badge de +X fotos) -->
                <a href="../assets/images/foto4.png" class="gallery-item gallery-item-more"
                    data-fancybox="space-gallery" data-caption="Quarto principal">
                    <img src="../assets/images/foto4.png" alt="Quarto principal">
                    <div class="gallery-more-overlay">
                        <!-- Texto dinâmico -->
                        <span>+7 fotos</span>
                    </div>
                </a>

                <!-- Fotos 'ocultas' no grid, mas acessíveis no Fancybox quando o usuário clicar no carrossel -->
                <a href="../assets/images/foto5.png" class="hidden" data-fancybox="space-gallery"
                    data-caption="Banheiro suíte"></a>
                <a href="../assets/images/foto6.png" class="hidden" data-fancybox="space-gallery"
                    data-caption="Varanda gourmet"></a>
            </div>
        </section>

        <div class="space-content-layout">

            <div class="space-main-details">
                <section class="space-description-section">
                    <h2 class="section-title">Sobre o espaço</h2>
                    <!-- Texto dinâmico -->
                    <p class="space-description-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat.
                    </p>

                    <div class="space-schedule-highlights">
                        <div class="schedule-item">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm64-88a8,8,0,0,1-8,8H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48h48A8,8,0,0,1,192,128Z">
                                </path>
                            </svg>
                            <div>
                                <span class="schedule-label">Check-in:</span>
                                <!-- Texto dinâmico -->
                                <span class="schedule-time">A partir das 14:00</span>
                            </div>
                        </div>

                        <div class="schedule-item">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M232,136.66A104.12,104.12,0,1,1,119.34,24,8,8,0,0,1,120.66,40,88.12,88.12,0,1,0,216,135.34,8,8,0,0,1,232,136.66ZM120,72v56a8,8,0,0,0,8,8h56a8,8,0,0,0,0-16H136V72a8,8,0,0,0-16,0Zm40-24a12,12,0,1,0-12-12A12,12,0,0,0,160,48Zm36,24a12,12,0,1,0-12-12A12,12,0,0,0,196,72Zm24,36a12,12,0,1,0-12-12A12,12,0,0,0,220,108Z">
                                </path>
                            </svg>
                            <div>
                                <span class="schedule-label">Check-out:</span>
                                <!-- Texto dinâmico -->
                                <span class="schedule-time">Até as 11:00</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="space-amenities-section">
                    <h2 class="section-title">Comodidades</h2>

                    <ul class="amenities-list" id="amenities-list-object">
                        <li class="amenity-item">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z">
                                </path>
                            </svg>

                            <!-- Texto dinâmico -->
                            <span>Wi-Fi de alta velocidade</span>
                        </li>
                        <li class="amenity-item">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z">
                                </path>
                            </svg>

                            <!-- Texto dinâmico -->
                            <span>Ar-condicionado</span>
                        </li>
                        <li class="amenity-item">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z">
                                </path>
                            </svg>

                            <!-- Texto dinâmico -->
                            <span>Estacionamento gratuito</span>
                        </li>
                        <li class="amenity-item">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z">
                                </path>
                            </svg>

                            <!-- Texto dinâmico -->
                            <span>Cozinha completa</span>
                        </li>

                        <li class="amenity-item extra-item hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z">
                                </path>
                            </svg>

                            <!-- Texto dinâmico -->
                            <span>TV 4K com Netflix</span>
                        </li>
                        <li class="amenity-item extra-item hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z">
                                </path>
                            </svg>

                            <!-- Texto dinâmico -->
                            <span>Piscina privativa</span>
                        </li>
                    </ul>

                    <button type="button" id="btn-toggle-amenities" class="btn-toggle-expand" aria-expanded="false"
                        aria-controls="amenities-list-object">
                        <span>Mostrar mais</span>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                            viewBox="0 0 256 256">
                            <path
                                d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z">
                            </path>
                        </svg>
                    </button>
                </section>

                <section class="space-policies-section">
                    <h2 class="section-title">Políticas do espaço</h2>

                    <ul class="policies-list" id="policies-list-object">
                        <li class="policy-item">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z">
                                </path>
                            </svg>

                            <!-- Texto dinâmico -->
                            <span>Check-in a partir das 14:00 / Check-out até 11:00</span>
                        </li>
                        <li class="policy-item">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z">
                                </path>
                            </svg>

                            <!-- Texto dinâmico -->
                            <span>Proibido festas ou eventos barulhentos</span>
                        </li>
                        <li class="policy-item">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z">
                                </path>
                            </svg>

                            <!-- Texto dinâmico -->
                            <span>Não é permitido fumar dentro do imóvel</span>
                        </li>

                        <li class="policy-item extra-item hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z">
                                </path>
                            </svg>

                            <!-- Texto dinâmico -->
                            <span>Não é permitido fumar dentro do imóvel</span>
                        </li>
                        <li class="policy-item extra-item hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32"
                                fill="#000000" viewBox="0 0 256 256">
                                <path
                                    d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z">
                                </path>
                            </svg>

                            <!-- Texto dinâmico -->
                            <span>Animais de estimação permitidos mediante taxa</span>
                        </li>
                    </ul>

                    <button type="button" id="btn-toggle-policies" class="btn-toggle-expand" aria-expanded="false"
                        aria-controls="policies-list-object">
                        <span>Mostrar mais</span>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                            viewBox="0 0 256 256">
                            <path
                                d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z">
                            </path>
                        </svg>
                    </button>
                </section>

            </div>

            <div class="space-sidebar-details">
                <section class="booking-card-section">
                    <div class="booking-card">
                        <div class="booking-price-header">
                            <!-- Texto dinâmico -->
                            <span class="booking-price">R$ 310</span>
                            <!-- Texto dinâmico -->
                            <span class="booking-period">/ noite</span>
                        </div>

                        <form id="form-booking" class="booking-form">
                            <div class="booking-dates-grid">
                                <div class="input-group">
                                    <label for="booking-checkin">Check-in</label>
                                    <input type="date" id="booking-checkin" name="checkin" required>
                                </div>

                                <div class="input-group">
                                    <label for="booking-checkout">Check-out</label>
                                    <input type="date" id="booking-checkout" name="checkout" required>
                                </div>
                            </div>

                            <dl class="space-booking-cost-summary">
                                <div class="cost-row">
                                    <!-- Texto dinâmico -->
                                    <dt class="cost-label">R$ 310 × 5 noites</dt>
                                    <!-- Texto dinâmico -->
                                    <dd class="cost-value">R$ 1.550,00</dd>
                                </div>
                                <div class="cost-row">
                                    <dt class="cost-label">Taxa de limpeza</dt>
                                    <!-- Texto dinâmico -->
                                    <dd class="cost-value">R$ 80,00</dd>
                                </div>
                                <div class="cost-row">
                                    <dt class="cost-label">Taxa de serviço</dt>
                                    <!-- Texto dinâmico -->
                                    <dd class="cost-value">R$ 70,00</dd>
                                </div>
                                <div class="cost-row cost-total">
                                    <dt class="cost-label">Total</dt>
                                    <!-- Texto dinâmico -->
                                    <dd class="cost-value">R$ 1.700,00</dd>
                                </div>
                            </dl>

                            <button type="submit" id="btn-submit-booking" class="btn-primary btn-block">
                                Realizar reserva
                            </button>
                        </form>
                    </div>
                </section>

                <section class="space-location-section">
                    <h2 class="section-title">Localização</h2>
                    <!-- Texto dinâmico -->
                    <address class="space-full-address">
                        Rua biribiri, 123 - Tralalá, Frufru - AB<br>
                        CEP: 12345-789
                    </address>

                    <!-- Container da API do Google Maps (Alvo de renderização do JS via Lat/Lng) -->
                    <div id="space-map" class="google-map-container" aria-label="Mapa com localização exata do espaço">
                    </div>
                </section>
            </div>
        </div>
    </main>

    <div id="modal-menu" class="modal-container hidden" role="dialog" aria-modal="true" aria-label="Menu de navegação">
        <div class="menu-drawer">

            <div class="menu-drawer-header">
                <div class="user-profile-mobile">
                    <div class="user-avatar">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                            viewBox="0 0 256 256">
                            <path
                                d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z">
                            </path>
                        </svg>
                    </div>
                    <div class="user-info">
                        <!-- Texto dinâmico -->
                        <span class="user-name">Olá, usuário</span>
                        <span class="user-role">Hóspede</span>
                    </div>
                </div>

                <button class="btn-close-modal" id="btn-close-menu" aria-label="Fechar menu">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                        viewBox="0 0 256 256">
                        <path
                            d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z">
                        </path>
                    </svg>
                </button>
            </div>

            <nav class="modal-menu-nav">
                <!-- Adicionar links dinâmicos -->
                <a href="#" class="menu-btn is-active">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                        viewBox="0 0 256 256">
                        <path
                            d="M128,64a40,40,0,1,0,40,40A40,40,0,0,0,128,64Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,128Zm0-112a88.1,88.1,0,0,0-88,88c0,31.4,14.51,64.68,42,96.25a254.19,254.19,0,0,0,41.45,38.3,8,8,0,0,0,9.18,0A254.19,254.19,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25A88.1,88.1,0,0,0,128,16Zm0,206c-16.53-13-72-60.75-72-118a72,72,0,0,1,144,0C200,161.23,144.53,209,128,222Z">
                        </path>
                    </svg>
                    <span>Explorar</span>
                </a>
                <!-- Adicionar links dinâmicos -->
                <a href="#" class="menu-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                        viewBox="0 0 256 256">
                        <path
                            d="M230.91,172A8,8,0,0,1,228,182.91l-96,56a8,8,0,0,1-8.06,0l-96-56A8,8,0,0,1,36,169.09l92,53.65,92-53.65A8,8,0,0,1,230.91,172ZM220,121.09l-92,53.65L36,121.09A8,8,0,0,0,28,134.91l96,56a8,8,0,0,0,8.06,0l96-56A8,8,0,1,0,220,121.09ZM24,80a8,8,0,0,1,4-6.91l96-56a8,8,0,0,1,8.06,0l96,56a8,8,0,0,1,0,13.82l-96,56a8,8,0,0,1-8.06,0l-96-56A8,8,0,0,1,24,80Zm23.88,0L128,126.74,208.12,80,128,33.26Z">
                        </path>
                    </svg>
                    <span>Minhas reservas</span>
                </a>
            </nav>

            <div class="menu-drawer-footer">
                <!-- Adicionar links dinâmicos -->
                <a href="#" class="menu-btn logout-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                        viewBox="0 0 256 256">
                        <path
                            d="M120,216a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V40a8,8,0,0,1,8-8h64a8,8,0,0,1,0,16H56V208h56A8,8,0,0,1,120,216Zm109.66-93.66-40-40a8,8,0,0,0-11.32,11.32L204.69,120H112a8,8,0,0,0,0,16h92.69l-26.35,26.34a8,8,0,0,0,11.32,11.32l40-40A8,8,0,0,0,229.66,122.34Z">
                        </path>
                    </svg>
                    <span>Sair da conta</span>
                </a>
            </div>
        </div>
    </div>

</body>

</html>