<div class="booking-dashboard-container">
    <div class="booking-dashboard-header-wrapper">
        <header class="page-header">
            <div class="page-header-text">
                <h1 class="page-title">Reservas</h1>
                <!-- O subtítulo pode mudar dinamicamente conforme o papel -->
                <p class="page-description">Veja todas as reservas feitas nos seus espaços.</p>
            </div>
        </header>

        <section class="booking-dashboard-filter-section" aria-label="Filtro de reservas por período">
            <form id="form-filter-booking-dashboard" class="filter-form">
                <div class="filter-dates-grid">
                    <div class="input-group">
                        <label for="filter-date-from">De:</label>
                        <input type="date" id="filter-date-from" name="dateFrom">
                    </div>

                    <div class="input-group">
                        <label for="filter-date-to">Até:</label>
                        <input type="date" id="filter-date-to" name="dateTo">
                    </div>
                </div>
            </form>
        </section>
    </div>

    <section class="booking-dashboard-list-section" aria-label="Lista de reservas">

        <div id="empty-state-booking-dashboard" class="empty-state-container hidden">
            <div class="empty-state-icon">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                    viewBox="0 0 256 256">
                    <path
                        d="M80,224a8,8,0,0,1-8,8H56a16,16,0,0,1-16-16V184a8,8,0,0,1,16,0v32H72A8,8,0,0,1,80,224ZM216,88v48a8,8,0,0,1-16,0V96H152a8,8,0,0,1-8-8V40H120a8,8,0,0,1,0-16h32a8,8,0,0,1,5.66,2.34l56,56A8,8,0,0,1,216,88Zm-56-8h28.69L160,51.31ZM80,24H56A16,16,0,0,0,40,40V64a8,8,0,0,0,16,0V40H80a8,8,0,0,0,0-16ZM208,168a8,8,0,0,0-8,8v40h-8a8,8,0,0,0,0,16h8a16,16,0,0,0,16-16V176A8,8,0,0,0,208,168ZM48,152a8,8,0,0,0,8-8V104a8,8,0,0,0-16,0v40A8,8,0,0,0,48,152Zm104,64H112a8,8,0,0,0,0,16h40a8,8,0,0,0,0-16Z">
                    </path>
                </svg>
            </div>
            <h2 class="empty-state-title">Nenhuma reserva encontrada</h2>
            <p class="empty-state-description">Não encontramos reservas registradas para o período selecionado.</p>
        </div>

        <div class="booking-dashboard-list"></div>
    </section>
</div>