<div class="space-details-container">

    <section class="space-details-header-section">

        <!-- Adicionar link para voltar -->
        <a href="" class="btn-back">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                viewBox="0 0 256 256">
                <path
                    d="M232,144a64.07,64.07,0,0,1-64,64H80a8,8,0,0,1,0-16h88a48,48,0,0,0,0-96H51.31l34.35,34.34a8,8,0,0,1-11.32,11.32l-48-48a8,8,0,0,1,0-11.32l48-48A8,8,0,0,1,85.66,45.66L51.31,80H168A64.07,64.07,0,0,1,232,144Z">
                </path>
            </svg>
            <span>Voltar para tela principal</span>
        </a>

        <!-- Texto dinâmico -->
        <h1 class="page-title"></h1>

        <div class="space-location-badge">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                viewBox="0 0 256 256">
                <path
                    d="M112,80a16,16,0,1,1,16,16A16,16,0,0,1,112,80ZM64,80a64,64,0,0,1,128,0c0,59.95-57.58,93.54-60,94.95a8,8,0,0,1-7.94,0C121.58,173.54,64,140,64,80Zm16,0c0,42.2,35.84,70.21,48,78.5,12.15-8.28,48-36.3,48-78.5a48,48,0,0,0-96,0Zm122.77,67.63a8,8,0,0,0-5.54,15C213.74,168.74,224,176.92,224,184c0,13.36-36.52,32-96,32s-96-18.64-96-32c0-7.08,10.26-15.26,26.77-21.36a8,8,0,0,0-5.54-15C29.22,156.49,16,169.41,16,184c0,31.18,57.71,48,112,48s112-16.82,112-48C240,169.41,226.78,156.49,202.77,147.63Z">
                </path>
            </svg>
            <!-- Texto dinâmico -->
            <span></span>
        </div>
    </section>

    <!-- Todas as imagens com "a href", "a data-caption", "img src" e "img alt" dinâmicos (a data-caption = img alt) -->
    <section class="space-gallery-section" aria-label="Galeria de fotos do anúncio">
        <div class="gallery-grid"></div>
    </section>

    <div class="space-content-layout">

        <div class="space-main-details">
            <section class="space-description-section">
                <h2 class="section-title">Sobre o espaço</h2>
                <!-- Texto dinâmico -->
                <p class="space-description-text"></p>

                <div class="space-schedule-highlights">
                    <div class="schedule-item">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                            viewBox="0 0 256 256">
                            <path
                                d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm64-88a8,8,0,0,1-8,8H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48h48A8,8,0,0,1,192,128Z">
                            </path>
                        </svg>
                        <div>
                            <span class="schedule-label">Check-in:</span>
                            <!-- Texto dinâmico -->
                            <span class="schedule-time"></span>
                        </div>
                    </div>

                    <div class="schedule-item">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                            viewBox="0 0 256 256">
                            <path
                                d="M232,136.66A104.12,104.12,0,1,1,119.34,24,8,8,0,0,1,120.66,40,88.12,88.12,0,1,0,216,135.34,8,8,0,0,1,232,136.66ZM120,72v56a8,8,0,0,0,8,8h56a8,8,0,0,0,0-16H136V72a8,8,0,0,0-16,0Zm40-24a12,12,0,1,0-12-12A12,12,0,0,0,160,48Zm36,24a12,12,0,1,0-12-12A12,12,0,0,0,196,72Zm24,36a12,12,0,1,0-12-12A12,12,0,0,0,220,108Z">
                            </path>
                        </svg>
                        <div>
                            <span class="schedule-label">Check-out:</span>
                            <!-- Texto dinâmico -->
                            <span class="schedule-time"></span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="space-amenities-section">
                <h2 class="section-title">Comodidades</h2>

                <ul class="amenities-list" id="amenities-list-object"></ul>

                <button type="button" id="btn-toggle-amenities" class="btn-toggle-expand" aria-expanded="false"
                    aria-controls="amenities-list-object">
                    <span>Mostrar mais</span>
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                        viewBox="0 0 256 256">
                        <path
                            d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z">
                        </path>
                    </svg>
                </button>
            </section>

            <section class="space-policies-section">
                <h2 class="section-title">Políticas do espaço</h2>

                <ul class="policies-list" id="policies-list-object"></ul>

                <button type="button" id="btn-toggle-policies" class="btn-toggle-expand" aria-expanded="false"
                    aria-controls="policies-list-object">
                    <span>Mostrar mais</span>
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" fill="#000000"
                        viewBox="0 0 256 256">
                        <path
                            d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z">
                        </path>
                    </svg>
                </button>
            </section>

        </div>

        <div class="space-sidebar-details">
            <section class="booking-card-section">
                <div class="booking-card">
                    <div class="booking-price-header">
                        <!-- Texto dinâmico -->
                        <span class="booking-price"></span>
                        <!-- Texto dinâmico -->
                        <span class="booking-period">/ noite</span>
                    </div>

                    <form id="form-booking" class="booking-form">
                        <div class="booking-dates-grid">
                            <div class="input-group">
                                <label for="booking-checkin">Check-in</label>
                                <input type="date" id="booking-checkin" name="checkin" required>
                            </div>

                            <div class="input-group">
                                <label for="booking-checkout">Check-out</label>
                                <input type="date" id="booking-checkout" name="checkout" required>
                            </div>
                        </div>

                        <dl class="space-booking-cost-summary">
                            <div class="cost-row">
                                <!-- Texto dinâmico -->
                                <dt class="cost-label"></dt>
                                <!-- Texto dinâmico -->
                                <dd class="cost-value"></dd>
                            </div>
                            <div class="cost-row">
                                <dt class="cost-label">Taxa de limpeza</dt>
                                <!-- Texto dinâmico -->
                                <dd class="cost-value"></dd>
                            </div>
                            <div class="cost-row">
                                <dt class="cost-label">Taxa de serviço</dt>
                                <!-- Texto dinâmico -->
                                <dd class="cost-value"></dd>
                            </div>
                            <div class="cost-row cost-total">
                                <dt class="cost-label">Total</dt>
                                <!-- Texto dinâmico -->
                                <dd class="cost-value"></dd>
                            </div>
                        </dl>

                        <button type="submit" id="btn-submit-booking" class="btn-primary btn-block">
                            Realizar reserva
                        </button>
                    </form>
                </div>
            </section>

            <section class="space-location-section">
                <h2 class="section-title">Localização</h2>
                <!-- Texto dinâmico -->
                <address class="space-full-address">
                </address>

                <!-- Container da API do Google Maps (Alvo de renderização do JS via Lat/Lng) -->
                <div id="space-map" class="google-map-container" aria-label="Mapa com localização exata do espaço">
                </div>
            </section>
        </div>
    </div>
</div>